.ttlogo-main-container{
    display: flex;
}

.ttlogo-text-box-container{
    display: none;
    background: #252525;
    position: absolute;
    width: 250px;
    height: 141px;

    margin-left: 60px;

    border-radius: 20px;

    align-self: center;
}

.ttlogo-text-box-hippo{
    float: right;
    position: absolute;
    width: 20px;
    height: 20px;
}

.ttlogo-text-box-left{
    margin-left: 10px;
    font-size: 10px;
}

.ttlogo-text-box-top{
    width: 160px;

    font-style: normal;
    font-weight: 300;
    line-height: 132.5%;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 10px;
}

.hippo-logo-container{
    background: white;
    width: 30px;
    top: 0;
    position: absolute;

    margin-top: 15px;
    margin-right: 20px;

    right: 0;
    border-radius: 50px;

    height: 30px;
}

.ttlogo-text-box-hippo{
    margin-left: 2px;
    margin-top: -2px;
    align-self: center;
    justify-self: center;
    width: 25px;
    height: 25px;
}

.tt-logo {
    margin-top: 12px;
    cursor: pointer;
}

.tt-logo:hover + .ttlogo-text-box-container{
    display: block;
}

.ttlogo-text-box-left span{
    font-weight: bold !important;
}

/* limit logo size */
.tt-logo img {
	width: 50px;
	height: auto;
}

@media only screen and (max-width: 768px) {
    .ttlogo-main-container{
        display: none;
    }
}