.bg_gray {
    background-color: #c4c4c4;
}

.bg_green {
    background-color: rgba(15, 184, 113, 0.83);
}

.bg_black {
    background-color: black;
}

.bg_white {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.83);
}

.txt_black {
    color: black;
}

.txt_white {
    color: white;
}

.normal {
    height: 47px;
    width: 174px;
    left: 729px;
    top: 250px;
}

.button {
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 20px;
}