.btn.bg-gray {
    background-color: #c4c4c4;
}
.btn.active.bg-gray:hover {
    background-color: #cacaca;
}

.btn.bg-green {
    background-color: #12A868;
}
.btn.active.bg-green:hover {
    background-color: #13b66f;
}

.btn.bg-black {
    background-color: black;
}
.btn.active.bg-black:hover {
    background-color: rgb(48, 48, 48);
}

.btn.bg-white {
    border: 1px solid black;
    background-color: rgba(255, 255, 255);
}
.btn.active.bg-white:hover {
    background-color: rgb(242, 242, 242);
}

.btn.bg-yellow {
    background-color: #f8d50c;
}

.btn.bg-red {
    background-color: #e25353;
}

.btn.txt-black {
    color: black;
}

.btn.txt-white {
    color: white;
}

.btn.normal {
    padding: 0.47rem 2.53rem;
}

.btn.button {
    border-radius: 1.88rem;
    font-size: 1.25rem;
}
