.label {
    font-size: 1.125rem;
    display: block;
}

.input {
    padding-right: 6.656rem;

    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;

    color: #000000;

    border: none;
    border-bottom: 0.063rem solid #979797;
}

.invalid-text {
    color: red;
    font-size: 0.875rem;
}

.invalid-border {
    display: flex;
    flex-direction: column;
    padding-right: 6.656rem;

    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;

    color: #000000;
    border: 0.063rem solid red;
}
