
.form-error {
	color: red;
}

.form-label {
    font-size: 1.125rem;
    display: block;
}

.course-select {
	position: relative;
	appearance: none;
	background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat;
	background-position: 90% 50%;
	background-color: #F1F5F9;
}
 