@media (max-width: 768px) {
  .selectColumn {
    background-color: #F5F6F6;
    border-radius: 24px;
    margin-top: 40px;
  }
  .dropdown {
     display: inline-block; 
     transition: all .5s ease;
  }

  .lastColumn, .firstColumn {
    border-radius: 0px 0px 24px 24px;
  }
  .dropdown-content {
    display: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .selectTable {
    border-width: 2px;
    border-radius: 24px;
  }
  .selectColumn {
    border-right-width: 2px;
  }
  .selectColumn:last-child {
    border-right-width: 0px;
  }
  .lastColumn {
    border-bottom-right-radius: 24px;
  }
  .firstColumn {
    border-bottom-left-radius: 24px;
  }
}

/*
rgba(248, 139, 12, 0.75); red
rgba(15, 184, 113, 0.83); green
rgba(226, 83, 83, 0.8); yellow
*/


.batch_name {
    font-style: normal;
    font-weight: 300;
    font-size:16px;
    line-height: 132.5%;
    text-align: center;

    color: #727272;
}
