/* hide hamburger for md+ screens*/
.navbar-collapse {
	display: none;
}

/* edit background color here */
header {
	background-color: rgb(56, 56, 56);
}

/* flex all elements horizontally */
.navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
}

/* flex links horizontally and fill up remaining space */
.navbar nav {
	flex-grow: 1;
	margin-left: 2rem;
	display: flex;
	flex-flow: row nowrap;
}

/* flex logo horizontally */
.nav-logo {
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	flex-shrink: 0;
	align-items: center;
}
/* limit logo size */
.nav-logo img {
	width: 50px;
	height: auto;
}
/* prevents logo text from growing and wrapping */
.nav-logo h1 {
	flex: 0 0 auto;
}
/* remove bullet points from ul */
.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0 1rem;
}

.nav-links .user-text, .nav-links .logout {
	color: var(--highlight_green);
}

.nav-links .logout:hover {
	opacity: 0.8;
}

/* for small screens */
@media (max-width: 768px) {
	/* display hamburger */
	.navbar-collapse {
		display: block;
		width: 50%;
		text-align: right;
		color: white;
		font-size: 1.5rem;
	}
	/* enable wrapping */
	.navbar {
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	/* flex link groups vertically and hide menu*/
	.navbar nav {
		margin-left: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		cursor: pointer;
		max-height: 0;
		overflow-y: hidden;
		transition: max-height 0.3s ease-in;
	}
	/* display menu with show class */
	.navbar nav.show {
		max-height: 15rem;
		transition: max-height 0.3s ease-in;
	}
	/* flex links vertically */
	.nav-links {
		display: flex;
		flex-direction: column;
	}

	.nav-links li {
		margin-top: 0.5rem;
		padding: 0;
	}
	/* logo + hamburger = 100% width for two rows */
	.nav-logo {
		width: 50%;
	}
}
