.containertask {
	display: block;
	position: relative;
	padding-left: 2rem;
	margin-bottom: 0.3rem;
	cursor: pointer;
	padding-bottom: 0.4rem;
	font-size: 1.1rem;
	
	
  }
  
  /* Hide the browser's default checkbox */
  .containertask input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0.125rem;
	left: 0;
	height: 1.563rem;
	width: 1.563rem;
	background-color: white;
	border-width: 0.125rem;
	border-radius: 0.938rem;
  }
  
 
  
  /* When the checkbox is checked, add a green background */
  .containertask input:checked ~ .checkmark {
	background-color:white;
	border-color: limegreen;
	/* When the checkbox is checked, add a green background background-color: lightgreen;*/
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .containertask input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .containertask .checkmark:after {
	left: 0.5rem;
	top: 0.313rem;
	width: 0.313rem;
	height: 0.625rem;
	border: solid limegreen;
	border-width: 0 0.188rem 0.188rem 0;
	transform: rotate(45deg);
  }


.arrow {
	box-sizing: border-box;
	height: 1vw;
	width: 1vw;
	border-style: solid;
	border-color: black;
	border-width: 0rem 0.063rem 0.063rem 0rem;
	
  }
.downArrow{
	transform: rotate(45deg);
}
.upArrow{
	transform: rotate(225deg);
} 
  
  
  