@media (max-width: 1024px) {
  .selectColumn {
    background-color: #F5F6F6;
    border-radius: 1.5rem;
    margin-top: 2.5rem;
  }

  .selectHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  .selectBody {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }

}

@media (min-width: 64rem) {
  .selectTable {
    border-width: 0.125rem;
    border-radius: 1.5rem;
  }
  .selectColumn {
    border-right-width: 0.125rem;
  }
  .selectColumn:last-child {
    border-right-width: 0rem;
  }
}

.batch_name {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 132.5%;
    text-align: center;

    color: #727272;
}
