.form-error {
	color: red;
}

.form-label {
    font-size: 1.125rem;
    display: block;
}

.react-tel-input .form-control {
	width: 100%;
	border-radius: 5px 0px 0px 5px;
	border: none;
	border-bottom: 1px solid grey;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

.react-tel-input .flag-dropdown {
	border-bottom: 1px solid grey;
}

.react-tel-input .form-control.invalid-number {
	background-color: none;
	border: 1px solid red;
}
.react-tel-input .flag-dropdown.invalid-number {
	border: 1px solid red;
}

@media (min-width: 768px) {
	.react-tel-input .form-control {
		width: 75%;
	}
}
