/* This is the file that lets us add variables to tailwind so that we can use them with other tailwind styles. */
/* Documentation for the full process is at https://www.notion.so/aicamp/Unified-Styling-2e76e8e9c9e04129900f8a332d33d4ef */

/* Variable Definitions */
:root {
    --main_green: #13A769;
	--highlight_green: #0FB871;
    --main_grey: #383838;
    --main_red: #E25353CC;
    --main_yellow: #F88B0CBF;
    --placeholder_text: #979797;
    --button_green: rgba(15, 184, 113, 0.83);
    --large_text: 2.2rem;
    --medium_text: 1.2rem;
    --small_text: 0.9rem;
}
/* Universal bg-color and font-family */
body, html {
	background-color: #f0f0f0;
	font-family: 'Open Sans', sans-serif;
	/* Padding for the footer */
	padding-bottom: 3rem;
}
