/* Bring in the Open Sans font */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
  }

/* flex all elements horizontally */
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
    background: linear-gradient(101.02deg, #E431FF 2.58%, #00EAC0 96.92%);
	padding: 10rem 0;
}

/* Center align text and set font size */
.text-section {
	text-align: center;
}

/* Set text to black */
h1 {
    color: #000000;
	font-family: 'Open Sans', sans-serif;
}

/* Set font sizes for the top and bottom portions of text */
.top-text {
	font-size: 2.2rem;
	font-weight: bold;
}

.bottom-text {
	font-size: 1.2rem;
}