@import '../../App.css';

/* flex all elements horizontally */
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
    background: linear-gradient(101.02deg, #E431FF 2.58%, #00EAC0 96.92%);
	padding: 10rem 0;
}

/* Center align text and set font size */
.text-section {
	text-align: center;
}

/* Set text to black */
h1 {
    color: #000000;
	font-family: var(--main_font);
}

/* Set font sizes for the top and bottom portions of text */
.top-text {
	font-size: var(--large_text);
	font-weight: bold;
}

.bottom-text {
	font-size: var(--medium_text);
}
